.Layout {
  width: 100vw;
  height: 100vh;

  .Toolbar {
    width: 100%;
    height: 10%;
  }
  .SideBar {
    width: 15%;
    height: 90%;
    float: left;
  }

  .Content {
    width: 85%;
    height: 90%;
    float: left;
  }
}
